p.lion {
  background-color: red;
}
ul > .lion {
  background-color: greenyellow;
}

li#tiger {
  background-color: yellow;
}
.lion {
  color: sienna;
}
.zoo .lion {
  /* font-weight: 글씨의 굵기 */
  font-weight: bold;
}
#tiger + li {
  background-color: skyblue;
}
li.lion ~ li {
  background-color: orange;
}
