.box {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  position: relative;

  /* animation 속성 */
  animation-name: my-ani;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}
/* @keyframes:애니 이름을 지정해줘야 됨 */
@keyframes my-ani {
  0% {
    left: 0px;
  }
  25% {
    left: 250px;
  }
  50% {
    left: 400px;
  }
  75% {
    left: 250px;
  }
  100% {
    left: 0px;
  }
}

.bounce-ball {
  position: relative;
  left: 100px;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: palevioletred;

  /* 단축 
  이름-지속시간-지연시간-반복횟수-반복형태-방향 */
  animation: bounce1 1s ease-in infinite alternate;
}

@keyframes bounce1 {
  to {
    top: 50px;
  }
  from {
    top: 300px;
  }
}

.bounce-ball2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  position: absolute;

  animation: bounce2 2s infinite;
}

@keyframes bounce2 {
  from,
  to {
    bottom: 0px;
    animation-timing-function: ease-out;
  }
  50% {
    bottom: 300px;
    animation-timing-function: ease-in;
  }
}
