/* .main {
  position: relative;
}
.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}
.ball1 {
  background-color: blue;
  position: relative;
}
.eyes {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 15px;
  top: 10px;
  z-index: 1;
}
.eyes1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  left: 0px;
  top: 7px;
  z-index: 2;
}
.ball2 {
  background-color: yellowgreen;
  left: 60px;
  top: 30px;
  z-index: 2;
}
.ball3 {
  background-color: skyblue;
  left: 100px;
  top: 64px;
  z-index: 3;
}
.ball4 {
  background-color: magenta;
  left: 140px;
  top: 85px;
  z-index: 4;
}
.ball5 {
  background-color: beige;
  left: 190px;
  top: 90px;
  z-index: 5;
}
.img {
  z-index: 99;
} */
.main {
  position: relative;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}
.circle1 {
  background-color: gray;
}
.circle2 {
  background-color: darkturquoise;
  top: 60px;
  left: 59px;
}
.circle3 {
  background-color: bisque;
  top: 114px;
  left: 109px;
}
.circle4 {
  background-color: navy;
  top: 114px;
  left: 168px;
}
.circle5 {
  background-color: tomato;
  top: 114px;
  left: 231px;
  z-index: 10;
}
.eye-white {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 15px;
  top: 18px;
}
.eye-black {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 0px;
  top: 7px;
}
.src {
  position: relative;
  top: 120px;
  z-index: 5;
}
