.main {
  background-color: beige;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  /* flex-direction: row;
   *flex-wrap: wrap;
   *flex-direction:x축과 y축의 시작축을 지정;
   *flex-wrap:줄 바꿈 설정
   *justify-content:축의 정렬을 설정(flex-direction과 헷갈리지 말것!
   *align-items: 위아래 축의 정렬을 설정(단, 한 줄 일때)
   *align-content:위아래 축을 정렬을 설정(단, 여러 줄 일때) */
}
.box {
  width: 100px;
  height: 100px;
}
.item1 {
  background-color: black;
}
.item2 {
  background-color: orange;
}
.item3 {
  background-color: burlywood;
}
.item4 {
  background-color: green;
}
.item5 {
  background-color: blueviolet;
}
.item6 {
  background-color: firebrick;
}
.item7 {
  background-color: lightcoral;
}
.item8 {
  background-color: yellowgreen;
}
