head body {
  margin: 0;
  padding: 0;
}
.main1 {
  display: flex;
  justify-content: space-between;
  background-color: red;
  height: 50px;
  align-items: center;
  padding: 0px 10px;
  font-weight: bold;
}
.logo {
}
.menu1 {
  display: flex;
}
.menu1 div:nth-child(2) {
  margin: 0px 10px;
}
.main4 {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: blue;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 0px 10px;
}
.menu4 {
  display: flex;
}
.menu4 div:nth-child(2n) {
  margin: 0px 10px;
}
.login4 {
  display: flex;
}
.login4 div:first-child {
  margin: 0px 10px;
}
